<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/commonhead") %>
  </head>

  <!-- <body class="login-page-body">
    <div class="login-page-wrapper">
      <img class="mb-3 login-logo" src="/img/logo-white.png" />
      <h2 class="text-white">Admin Dashboard</h2>
      <div class="login-card mx-auto">
        <div class="login-card-heading bg-theme text-white">
          <h4 class="mb-0 card-title">Login</h4>
        </div>
        <div class="login-card-body bg-light">
          <form action="/admin/login" method="post" data-parsley-validate>
            <input class="form-control mt-4" type="email" placeholder="Email" name="email" id="email" required />
            <input class="form-control mt-3" type="password" placeholder="Password" name="password" id="password" required />
            <input class="btn form-control mt-3 btn-theme" type="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html> -->
<body class="bg-primary">
  <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
          <main>
            <%- include ("partials/messages") %>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-5">
                          <div class="card shadow-lg border-0 rounded-lg mt-5">
                              <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                              <div class="card-body">
                                  <form action="/login" method="post" data-parsley-validate>
                                      <div class="form-group">
                                          <label class="small mb-1" for="inputEmailAddress">Email</label>
                                          <input class="form-control py-4" id="inputEmailAddress" name="email" id="email" type="email" placeholder="Enter email address" required />
                                      </div>
                                      <div class="form-group">
                                          <label class="small mb-1" for="password">Password</label>
                                          <input class="form-control py-4" id="password" name="password" type="password" placeholder="Enter password" required />
                                      </div>
                                      <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                          <button type="submit" class="btn btn-primary">Login</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
      <div id="layoutAuthentication_footer">
          <footer class="py-4 bg-light mt-auto">
              <div class="container-fluid">
                  <div class="d-flex align-items-center justify-content-between small">
                      <div class="text-muted">Copyright &copy; Your Website 2021</div>
                      <div>
                          <a href="#">Privacy Policy</a>
                          &middot;
                          <a href="#">Terms &amp; Conditions</a>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
  <%- include ("partials/commonscripts") %>
</body>
</html>